$user-font-path: "../webfonts" !default;
$backgroundColor: #f0f0f0;
$bodyColor: #2c3e50;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$menuFont: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
$userFont1: "Intake Morningjook";
@font-face {
    font-family: 'Intake Morningjook';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('#{$user-font-path}/IntakeMorningjook-Regular.eot');
    src: url('#{$user-font-path}/IntakeMorningjook-Regular.eot?#iefix') format("embedded-opentype"),
    url('#{$user-font-path}/IntakeMorningjook-Regular.woff2') format("woff2"),
    url('#{$user-font-path}/IntakeMorningjook-Regular.woff') format("woff"),
    url('#{$user-font-path}/IntakeMorningjook-Regular.ttf') format("truetype"),
    url('#{$user-font-path}/IntakeMorningjook-Regular.svg#IntakeMorningjook-Regular') format("svg");
}

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $bodyFont;
    color: #d90006;
}

h1 a, h2 a, h3 a, h4 a {
    color: #428fe0;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color: #29598c;
}

p {
    font-family: $bodyFont;
    font-weight: 200;
}

.posts {
    font-size: 20px;
    list-style: none;
    font-weight: lighter;
    line-height: 250%;
    padding-bottom: 30px;
}

.homepage-posts {
    list-style: none;
}

.wrapper-container {
    padding: 50px 0 0 0;
}

.container {
    max-width: 100%;
    padding: 25px 20px 0 20px;

    a {
        text-decoration: none;
        font-weight: 200;
        text-shadow: 1px 1px #fff;
    }
}

#wrapper {
    padding-left: 250px;
    transition: all 0.5s ease 0;
}

.navbar {
    display: none;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #f8f8f8;
    position: fixed;
    height: 100%;
    z-index: 1000;
    border-top: solid #d90006;
    transition: all .4s ease 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding-top: 30px;

    li {
        line-height: 30px;
        text-indent: 40px;
        font-family: $menuFont;
        font-weight: 200;
        color: #9c9c9c;
        text-shadow: 1px 1px #fff;

        a {
            color: #999;
            display: block;
            text-decoration: none;

            &:hover {
                color: #000;
                background: #fff;
                text-decoration: none;
                transition: all 0.2s ease 0;
            }

            &:active, &:focus {
                text-decoration: none;
            }
        }
    }

    > .sidebar-brand {
        font-size: 20px;

        > h3 {
            font-size: 15px;
            font-weight: 100;
            color: #5d5f67;
        }
    }
}

.nav-toggle {
    display: none;
    color: #d90006;
    padding-left: 10px;
    padding-top: 10px;
}

.brand {
    font-weight: 800;
    color: #6c7077;
    font-family: $menuFont;
    font-size: 1.4em;
    text-shadow: 1px 1px #fff;

    &:hover {
        color: #d90006;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: 0.5s;
    }
}

.sidebar-nav > .sidebar-brand a {
    color: #999;

    &:hover {
        color: #fff;
        background: none;
    }
}

.content-header {
    height: 65px;
    line-height: 65px;

    h1 {
        line-height: 65px;
        display: inline-block;
        margin: 0 0 0 20px;
    }
}

blockquote {
    border-left: 2px solid #d90006;
    border-right: 2px solid #d90006;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    background: #f3f3f7;
}

ul, ol {
    font-weight: lighter;
}

pre {
    background: #f5f5f8;
}

#social-wrapper {
    color: #5c646f;
    padding: 10px 0;

    a {
        font-size: 15px;
        text-indent: 20px;
    }

    li {
        font-size: 15px;
        text-indent: 0;
        word-spacing: 10px;
    }

    a:hover {
        color: #2d1e18;
        transition: all 0.3s ease 0;
    }
}

.showcase-wrapper {
    width: 100%;
    height: 80vh;
    min-height: 500px;
    margin-top: -50px;
    box-shadow: inset 0 -10px 5px -2px rgba(119, 119, 119, 0.35);
    -moz-box-shadow: inset 0 -10px 5px -2px rgba(119, 119, 119, 0.35);
    -webkit-box-shadow: inset 0 -10px 5px -2px rgba(119, 119, 119, 0.35);
    border-bottom: solid 1px #fff;
    background-size: cover;
    z-index: -4;
}

.showcase-text {
    font-size: 3em;
    font-family: $bodyFont;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    padding-top: 20%;
}

.wide {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0 10% 30px;
}

#welcome-greeting {
    width: 100%;
    padding-top: 5px;

    > h1 {
        font-size: 3em;
        font-weight: 700;
        color: #d90006;
        line-height: 130%;
    }

    h1:hover {
        font-size: 3em;
        font-weight: 700;
        color: #2d4440;
        transition: all 0.5s ease 0;
    }

    > h2 {
        font-size: 2em;
        font-weight: 100;
        color: #2e2e2e;
        padding-top: 0;
        line-height: 140%;
    }

    h2 a {
        font-weight: 100;
        color: #d90006;
    }
}

.credit {
    bottom: 0;
    width: 100%;
    font-size: .8em;
    text-shadow: 1px 1px #fff;
    padding-left: 20px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 40px;
    z-index: 1;
    color: #cdcdcd;
}

.label-danger {
    background-color: #697b7b;
    font-weight: 400;
    border-radius: .2em;
    font-size: 120%;

    &:hover {
        background-color: #2d4440;
        transition: all 0.4s ease 0;
    }
}

.showcase-button {
    border-radius: .5em;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 200;
    font-family: $menuFont;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        background-color: transparent;
        transition: all 0.2s ease 0;
    }
}

#article {
    max-width: 100%;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    padding: 10px 15px 10px 15px;

    > h1, h2, h3 {
        color: #3a3a3a;
    }
}

.article-title {
    font-size: 35px;
    font-weight: 700;
    color: #d90006;
    text-shadow: 1px 1px #720006;
    padding-top: 15px;
    text-align: center;
}

.meta {
    text-shadow: 1px 1px #fff;
    color: #b6b6b6;
    text-align: right;
    padding-right: 10px;
}

img {
    max-width: 100%;
    padding: 0 10px 0 10px; /* top, right, bottom, left */
}

.post {
    max-width: 100%;

    > p {
        font-family: $userFont1;
        font-weight: 400;
    }
    > hr {
        align: center;
    }
}

.user-social {
    color: #c4c4c4;
    margin-right: 20px;
    text-decoration: none;

    a {
        color: #c4c4c4;
        text-decoration: none;
        margin-right: 20px;
    }
}

.blue-outline {
    border: 2px solid #d21c38;
}

time {
    color: #c9c9c9;
    font-family: $bodyFont;
    font-weight: 100;
    text-shadow: 1px 1px #fff;
}

.pager {
    list-style: none;
    li > {
        a, span {
            border-radius: 0.5em;
            font-family: $menuFont;
            font-weight: 100;
            text-shadow: 1px 1px #fff;
        }
    }
}

#self {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 10px;
    max-height: 200px;
    margin: 0;
    padding: 10px;
}

#disqus_thread {
    margin-top: 100px;
}

.recent-posts {
    background-color: #fff;
    color: #4d4d4d;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    margin: 10px 10%;
    padding: 10px 40px;

    h1 {
        padding-bottom: 10px;
        font-size: 1.6em;
    }
}

.project-container {
    width: 100%;
    height: 170px;
    box-shadow: inset 0 -10px 5px -2px rgba(119, 119, 119, 0.35);
    -moz-box-shadow: inset 0 -10px 5px -2px rgba(119, 119, 119, 0.35);
    -webkit-box-shadow: inset 0 -10px 5px -2px rgba(119, 119, 119, 0.35);
    border-bottom: solid 1px #fff;
    background-image: url(http://lorempixel.com/900/200/);
    background-size: cover;
    z-index: -4;
    margin-top: -55px;
    margin-bottom: 30px;
    color: #fff;

    h1 {
        font-size: 3em;
        font-family: $bodyFont;
        font-weight: bolder;
        color: #fff;
        text-align: center;
        padding-top: 20px;
    }

    p {
        font-weight: 200;
        font-family: $bodyFont;
        color: #fff;
        text-align: center;
        left-padding: 20%;
    }
}

.project-box {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    min-height: 200px;

    &:hover {
        background-color: #fff;
        box-shadow: 1px 1px 0 1px #e8e8e8;
        min-height: 200px;
    }
}

.project-title {
    color: #000;
}

.project-image {
    position: relative;
    margin: 0;

    hr {
        margin-top: 5px;
        margin-bottom: 0;
        display: none;
    }
}

.project-post {
    cursor: pointer;

    h4 {
        font-weight: 200;
        font-size: 1em;
    }
}

.user-card {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 0 1px #e8e8e8;
    max-width: 800px;
    padding: 10px 40px 0;

    h1 {
        font-family: $bodyFont;
        font-weight: bolder;
        font-size: 2.5em;
        line-height: 55px;
        color: #d90006;
    }

    p {
        color: #c4c4c4;
        font-size: small;
    }
}

.card {
    margin-left: -40px;
    margin-top: -10px;
}

.letter p {
    font-size: 1.2em;
    font-weight: lighter;
    color: #737373;
    text-shadow: 1px 1px #fff;
}

#menu-toggle, .project-post div {
    display: none;
}

@media (max-width: 767px) {
    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        border-right: 4px solid #d90006;
        border-top: none;
        left: 0px;
    }

    #wrapper.active {
        position: relative;
        left: 250px;

        #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.7s ease 0s;
        }
    }

    #welcome-greeting {
        transition: all 0.2s ease 0s;
        font-weight: 300;
        line-height: 50px;

        > h1 {
            font-size: 43px;
        }

        > h2 {
            font-size: 22px;
        }
    }

    .wrapper-container {
        padding: 50px 0 0 0;
    }

    .container {
        max-width: 100%;
        margin: 0;
        padding: 15px 15px 0 15px;
    }

    .inset {
        padding: 15px;
    }

    .navbar {
        display: inherit;
        background-color: #f0f0f0;
        margin-top: none;
        padding: 0;
        border-top: solid #d90006;
        
        a {
            text-decoration: none;
            font-weight: 200;
            color: #9c9c9c;
            text-shadow: 1px 1px #fff;
        }
    }
}

@media screen and (max-width: 500px) {
    #welcome-greeting {
        transition: all 0.2s ease 0s;
        font-weight: 200;
        line-height: 30px;

        > h1 {
            font-size: 25px;
        }

        > h2 {
            font-size: 15px;
        }
    }

    #article {
        padding: 0 10px 0 10px;
    }

    .showcase-wrapper {
        width: 100%;
        max-height: 100%;
        font-size: small;
    }
}